*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.controls {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    background-color: #eee;
    border: 7px solid black;
    border-radius: 5px;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: #fff;
    border: 2px solid #888;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

button {
    cursor: pointer;
    background-color: #888;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

input[type='number'], #numObjects {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 150px;
}

.stage {
    display: flex;
    width: 100%;
    min-height: 100vh;
    min-height: fill-available;
    min-height: -webkit-fill-available;
    background-color: #eee;
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
    overflow: hidden;
    margin-top: 5px;
}

.ball {
    position: absolute;
    border-radius: 100px;
}